.cards-group {
  padding: 50px 10%;
  background-color: var(--wrapper-background);
  border-radius: 10px;
  display: flex;
  column-gap: 5%;
  row-gap: 20px;
  flex-wrap: wrap;
  box-shadow: #00000033 0px 18px 50px -10px;

  * {
    color: var(--primary-color);
  }
  
  app-card {
    flex-basis: 30%;
  }
}