.cards-group {
  padding: 50px 120px;
  background-color: var(--wrapper-background);
  border-radius: 10px;
  display: flex;
  column-gap: 5%;
  row-gap: 20px;
  flex-wrap: wrap;
  box-shadow: #00000033 0px 18px 50px -10px;

  * {
    color: var(--primary-color);
  }
  
  app-card {
    flex: 1 0 21%;
  }
}

@media(max-width: 1760px) {
  .cards-group {
    padding: 50px 80px;
  }
}
@media(max-width: 1440px) {
  .cards-group {
    app-card {
      flex: 1 0 30%;
    }
  }
}

@media(max-width: 1024px) {
  .cards-group {
    padding: 30px 40px;
    column-gap: 3%;
  }
}