header {
  background-color: var(--background-header);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0 0 15px #00000059;
  transition: transform 0.3s ease, transform 0.3s ease 0.3s;

  * {
    color: var(--primary-color);
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburguer-icon {
      display: none;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      width: 30px;
      height: 21px;
      position: relative;
      margin-left: 15px;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        transition: all 0.3s ease;
        border-radius: 10px;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 9px;
        }

        &:nth-child(3) {
          top: 18px;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 9px;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 9px;
          }
        }
      }
    }

    .left-side {
      display: flex;
      align-items: center;
      flex-basis: 100%;
      gap: 25px;

      .left-side__icons {
        .icon {
          width: 100%;
          height: 100%;

          &.whatsapp {
            margin-bottom: 10px;
          }
          a {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 12px;
          }

          svg {
            fill: var(--primary-color);
            max-width: 18px;
          }
        }
      }

      .seller-logo {
        max-width: 230px;
      }
    }

    .right-side {
      display: flex;
      align-items: center;
      gap: 25px;

      button.btn {
        position: relative;
        background-color: transparent;
        width: 52px;
        height: 26px;
        border-radius: 13px;
        overflow: hidden;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: 0px 5px 15px #00000059;

        &:focus,
        &:active {
          outline: none;
          border: none;
        }

        .ripple.ripple--dark {
          z-index: 1;
          transition: 0.6s ease;
          transform: scale(4.8);
        }

        .ripple.ripple--light {
          z-index: 2;
          transform: scale(1);
          transition: z-index 0s ease, transform 0.6s ease;
        }

        &.btn--checked {
          background-color: var(--dark-gray);
          animation: changeColor 0.6s ease forwards;

          @keyframes changeColor {
            80% {
              background-color: var(--dark-gray);
            }
            80.01% {
              background-color: var(--white);
            }
            100% {
              background-color: var(--white);
            }
          }

          .ripple.ripple--dark {
            z-index: 2;
            transform: scale(1);
            transition: z-index 0s ease, transform 0s ease;
          }

          .ripple.ripple--light {
            z-index: 1;
            transition: 0.6s ease;
            transform: scale(4.8);
          }
        }

        .toggle {
          width: 16.5px;
          height: 16.5px;
          position: absolute;
          top: 4.75px;
          border-radius: 50%;
          z-index: 5;

          &.toggle--dark {
            background-color: var(--dark-gray);
            left: 4.75px;
          }

          &.toggle--light {
            background-color: var(--white);
            right: 4.75px;
          }
        }

        .ripple {
          width: 16.5px;
          height: 16.5px;
          position: absolute;
          top: 4.75px;
          border-radius: 50%;

          &.ripple--dark {
            background-color: var(--dark-gray);
            left: 4.75px;
          }

          &.ripple--light {
            background-color: var(--white);
            right: 4.75px;
          }
        }
      }
    }
  }
}

app-mobile-menu {
  display: none;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 0;
}

@media(max-width: 1024px) {
  header {
    nav {
      .left-side {
        .seller-logo {
          max-width: 190px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .icon {
    display: none;
  }

  header nav .right-side {
    gap: 7px;
    
    a {
      display: none;
    }
  }

  .hamburguer-icon {
    display: block !important;
  }

  app-mobile-menu {
    display: block;
  }
}